In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
!chdir

C:\Users\matingting

In [5]:
!dir pwd C:\Users\matingting

 驱动器 C 中的卷是 Win
 卷的序列号是 CE44-B535

 C:\Users\matingting 的目录


 C:\Users\matingting 的目录

2022/02/16  10:13    <DIR>          .
2022/02/16  10:13    <DIR>          ..
2022/02/15  13:57    <DIR>          .android
2022/02/15  10:24            28,494 .bash_history
2021/12/30  10:04    <DIR>          .bifrost
2022/02/15  13:57    <DIR>          .BigNox
2021/08/20  14:10    <DIR>          .config
2021/09/28  21:09               190 .gitconfig
2022/02/16  10:11    <DIR>          .ipynb_checkpoints
2022/02/15  14:26    <DIR>          .ipython
2022/01/24  13:16    <DIR>          .jupyter
2022/02/15  10:16               104 .lesshst
2021/08/24  16:57    <DIR>          .umi3
2021/08/20  13:29    <DIR>          .vscode
2021/08/24  16:31               121 .yarnrc
2021/08/17  10:20    <DIR>          3D Objects
2021/09/27  16:54         8,294,826 app_download_native_report202108.sql
2022/02/15  15:58             9,468 Array.ipynb
2022/02/15  16:40            13,929 Array的input和output.ipynb
2021/08/17  10:20    <DIR>          Contacts
2021/11/04  11:24               300 d4ac4633ebd6440fa397b84f1bc94a3c.7z
2022/02/16  09:58            38,808 DataFrame IO.ipynb
2022/02/15  17:44            27,956 Dataframe.ipynb
2022/02/15  14:57             1,173 demo.ipynb
2022/02/16  09:49    <DIR>          Desktop
2022/02/16  09:52               509 df1.csv
2022/02/16  09:55             1,954 df1.html
2022/02/16  09:57             6,029 df1.xlsx
2022/02/15  14:21    <DIR>          Documents
2021/10/09  16:04    <DIR>          Downloads
2021/08/17  10:20    <DIR>          Favorites
2021/11/22  16:04    <DIR>          go
2021/11/03  17:02                66 inittk.ini
2021/11/03  17:01                41 inst.ini
2021/08/17  10:20    <DIR>          Links
2021/08/17  10:20    <DIR>          Music
2021/11/03  17:01    <DIR>          Nox_share
2021/11/03  17:01                45 nuuid.ini
2021/08/12  16:00    <DIR>          OneDrive
2022/02/15  16:36               168 one_array.npy
2022/01/09  16:18    <DIR>          Pictures
2021/08/17  10:20    <DIR>          Saved Games
2021/08/17  10:20    <DIR>          Searches
2022/02/16  10:13             1,096 Selecting and indexing.ipynb
2022/02/15  17:19            11,245 Series.ipynb
2022/02/15  16:37               610 two_array.npz
2021/11/03  17:01                53 useruid.ini
2021/08/17  10:20    <DIR>          Videos
2022/02/15  13:56    <DIR>          vmlogs
2022/02/15  16:35               187 x.pk1
2022/02/15  16:31            17,825 数组与矩阵运算.ipynb
2022/02/15  18:12            25,511 深入理解Series和Dataframe.ipynb
              25 个文件      8,480,708 字节
              27 个目录 52,469,997,568 可用字节

In [18]:
imdb = pd.read_csv('movie_metadata.csv')

In [19]:
imdb

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [20]:
imdb.shape

(5043, 28)

In [21]:
imdb.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [22]:
imdb.tail(10)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
5033,Color,Shane Carruth,143.0,77.0,291.0,8.0,David Sullivan,291.0,424760.0,Drama|Sci-Fi|Thriller,...,371.0,English,USA,PG-13,7000.0,2004.0,45.0,7.0,1.85,19000
5034,Color,Neill Dela Llana,35.0,80.0,0.0,0.0,Edgar Tancangco,0.0,70071.0,Thriller,...,35.0,English,Philippines,Not Rated,7000.0,2005.0,0.0,6.3,NaN,74
5035,Color,Robert Rodriguez,56.0,81.0,0.0,6.0,Peter Marquardt,121.0,2040920.0,Action|Crime|Drama|Romance|Thriller,...,130.0,Spanish,USA,R,7000.0,1992.0,20.0,6.9,1.37,0
5036,Color,Anthony Vallone,NaN,84.0,2.0,2.0,John Considine,45.0,NaN,Crime|Drama,...,1.0,English,USA,PG-13,3250.0,2005.0,44.0,7.8,NaN,4
5037,Color,Edward Burns,14.0,95.0,0.0,133.0,Caitlin FitzGerald,296.0,4584.0,Comedy|Drama,...,14.0,English,USA,Not Rated,9000.0,2011.0,205.0,6.4,NaN,413
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [11]:
imdb['color']

0       Color
1       Color
2       Color
3       Color
4         NaN
        ...
5038    Color
5039    Color
5040    Color
5041    Color
5042    Color
Name: color, Length: 5043, dtype: object

In [12]:
imdb['color'][0]

'Color'

In [13]:
imdb['color'][1]

'Color'

In [14]:
imdb[['color','director_name']]

      color      director_name
0     Color      James Cameron
1     Color     Gore Verbinski
2     Color         Sam Mendes
3     Color  Christopher Nolan
4       NaN        Doug Walker
...     ...                ...
5038  Color        Scott Smith
5039  Color                NaN
5040  Color   Benjamin Roberds
5041  Color        Daniel Hsia
5042  Color           Jon Gunn

[5043 rows x 2 columns]

In [23]:
sub_df = imdb[['director_name','movie_title','imdb_score']]

In [24]:
sub_df

,director_name,movie_title,imdb_score
0,James Cameron,Avatar,7.9
1,Gore Verbinski,Pirates of the Caribbean: At World's End,7.1
2,Sam Mendes,Spectre,6.8
3,Christopher Nolan,The Dark Knight Rises,8.5
4,Doug Walker,Star Wars: Episode VII - The Force Awakens ...,7.1
...,...,...,...
5038,Scott Smith,Signed Sealed Delivered,7.7
5039,NaN,The Following,7.5
5040,Benjamin Roberds,A Plague So Pleasant,6.3
5041,Daniel Hsia,Shanghai Calling,6.3
5042,Jon Gunn,My Date with Drew,6.6

In [25]:
sub_df.head()

,director_name,movie_title,imdb_score
0,James Cameron,Avatar,7.9
1,Gore Verbinski,Pirates of the Caribbean: At World's End,7.1
2,Sam Mendes,Spectre,6.8
3,Christopher Nolan,The Dark Knight Rises,8.5
4,Doug Walker,Star Wars: Episode VII - The Force Awakens ...,7.1

In [26]:
sub_df.head(5)

,director_name,movie_title,imdb_score
0,James Cameron,Avatar,7.9
1,Gore Verbinski,Pirates of the Caribbean: At World's End,7.1
2,Sam Mendes,Spectre,6.8
3,Christopher Nolan,The Dark Knight Rises,8.5
4,Doug Walker,Star Wars: Episode VII - The Force Awakens ...,7.1

In [27]:
sub_df.iloc[10:20,:]

       director_name                                   movie_title  imdb_score
10       Zack Snyder           Batman v Superman: Dawn of Justice          6.9
11      Bryan Singer                             Superman Returns          6.1
12      Marc Forster                            Quantum of Solace          6.7
13    Gore Verbinski   Pirates of the Caribbean: Dead Man's Chest          7.3
14    Gore Verbinski                              The Lone Ranger          6.5
15       Zack Snyder                                 Man of Steel          7.2
16    Andrew Adamson     The Chronicles of Narnia: Prince Caspian          6.6
17       Joss Whedon                                 The Avengers          8.1
18      Rob Marshall  Pirates of the Caribbean: On Stranger Tides          6.7
19  Barry Sonnenfeld                               Men in Black 3          6.8

In [28]:
sub_df.iloc[10:20,0:2]

       director_name                                   movie_title
10       Zack Snyder           Batman v Superman: Dawn of Justice
11      Bryan Singer                             Superman Returns
12      Marc Forster                            Quantum of Solace
13    Gore Verbinski   Pirates of the Caribbean: Dead Man's Chest
14    Gore Verbinski                              The Lone Ranger
15       Zack Snyder                                 Man of Steel
16    Andrew Adamson     The Chronicles of Narnia: Prince Caspian
17       Joss Whedon                                 The Avengers
18      Rob Marshall  Pirates of the Caribbean: On Stranger Tides
19  Barry Sonnenfeld                               Men in Black 3

In [29]:
tmp_df = sub_df.iloc[10:20,0:2]

In [30]:
tmp_df

       director_name                                   movie_title
10       Zack Snyder           Batman v Superman: Dawn of Justice
11      Bryan Singer                             Superman Returns
12      Marc Forster                            Quantum of Solace
13    Gore Verbinski   Pirates of the Caribbean: Dead Man's Chest
14    Gore Verbinski                              The Lone Ranger
15       Zack Snyder                                 Man of Steel
16    Andrew Adamson     The Chronicles of Narnia: Prince Caspian
17       Joss Whedon                                 The Avengers
18      Rob Marshall  Pirates of the Caribbean: On Stranger Tides
19  Barry Sonnenfeld                               Men in Black 3

In [31]:
tmp_df.iloc[2:4,:]

     director_name                                  movie_title
12    Marc Forster                           Quantum of Solace
13  Gore Verbinski  Pirates of the Caribbean: Dead Man's Chest

In [32]:
tmp_df.loc[15:17,:]

     director_name                                movie_title
15     Zack Snyder                              Man of Steel
16  Andrew Adamson  The Chronicles of Narnia: Prince Caspian
17     Joss Whedon                              The Avengers

In [33]:
tmp_df.loc[15:17,:'movie_title']

     director_name                                movie_title
15     Zack Snyder                              Man of Steel
16  Andrew Adamson  The Chronicles of Narnia: Prince Caspian
17     Joss Whedon                              The Avengers

In [34]:
tmp_df.loc[15:17,:'director_name']

     director_name
15     Zack Snyder
16  Andrew Adamson
17     Joss Whedon